<ul 
  role="listbox" 
  {{did-insert this.addHandlers}}
  {{will-destroy this.removeHandlers}} 
  ...attributes
>

  {{#if (and @select.loading @loadingMessage)}}
    <li 
      class="
        ember-power-select-option 
        ember-power-select-option--loading-message
      "
      role="option"
    >
      {{@loadingMessage}}
    </li>
  {{/if}}

  {{#each @options as |opt index|}}
    <li 
      class="ember-power-select-option" 
      id="{{@select.uniqueId}}-{{@groupIndex}}{{index}}"
      aria-selected="{{ember-power-select-is-selected opt @select.selected}}" 
      aria-disabled={{if opt.disabled "true"}} 
      aria-current="{{eq opt @select.highlighted}}" 
      data-option-index="{{@groupIndex}}{{index}}" 
      role="option"
    >
      <input 
        type="checkbox"
        checked={{ember-power-select-is-selected opt @select.selected}}
      />
      {{yield opt @select}}
    </li>
  {{/each}}
</ul>
